/* Mobile */
.container {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "content"
    "ads"
    "footer";
    grid-template-rows: auto auto 1fr auto auto;
    min-height: 100vh;
    gap: 20px;
}
/* Tablet */
@media screen and (min-width:768px) {
    .container {
        grid-template-areas: 
        "header header"
        "nav content"
        "ads ads"
        "footer footer";
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 200px 1fr;
        gap:30px;
    }
}
/* Desktop */
@media screen and (min-width:1024px) {
    .container {
        grid-template-areas: 
        "header header header"
        "nav content ads"
        "footer footer footer";
        grid-template-rows:  auto 1fr auto;
        grid-template-columns: 300px 1fr 1fr;
        gap:30px;
    }
}
header {
    grid-area: header;
    background-color: rgb(34, 1, 1);
    border-radius: 10px;
    color: beige;
}
nav {
    grid-area: nav;
    background-color: rgb(106, 31, 67);
    border-radius: 10px;
    color: beige;
}
.content {
    grid-area: content;
    background-color: rgb(79, 47, 62);
    border-radius: 10px;
    color: beige;
}
.ads {
    grid-area: ads;
    background-color: rgb(143, 33, 22);
    border-radius: 10px;
    color: beige;
}
footer {
    grid-area: footer;
    background-color: rgb(73, 14, 14);
    border-radius: 10px;
    color: beige;
}